In [1]:
import pandas as pd
import csv 
import matplotlib.pyplot as plt

## Getting the Data

- note that df_hs is a dataset from hugging face : https://huggingface.co/datasets/manueltonneau/indonesian-hate-speech-superset
- note that df_labeled is a dataset from : https://github.com/rizalespe/Dataset-Sentimen-Analisis-Bahasa-Indonesia/blob/master/dataset_komentar_instagram_cyberbullying.csv

In [9]:
df_hs = pd.read_csv('Data/in_hf.csv')

In [31]:
df_hs.tail()

,text,labels,source,dataset,nb_annotators
14301,Muka Si BABi Ahok Tuh Yg Mirip SERBET Lantai.....,1,Twitter,IDHSD,3
14302,"Betul bang hancurkan merka bang, musnahkan chi...",1,Twitter,IDHSD,3
14303,"Sapa Yg bilang Ahok anti korupsi!?, klo grombo...",1,Twitter,IDHSD,3
14304,"Gw juga ngimpi SENTILIN BIJI BABI AHOK, pcetar...",1,Twitter,IDHSD,3
14305,Mudah2an gw ketemu sama SI BABI IWAN BOPENG DI...,1,Twitter,IDHSD,3

In [12]:
# count the number of rows that have labels == 0.
print('The number of hate speech in in_hf.csv is {}'.format(df_hs[df_hs['labels'] == 0].shape[0]))

The number of hate speech in in_hf.csv is 8256

In [15]:
print('The number of non hate speech in in_hf.csv is {}'.format(df_hs[df_hs['labels'] != 0].shape[0]))

The number of non hate speech in in_hf.csv is 6050

In [27]:
df_hs.describe()

             labels  nb_annotators
count  14306.000000        14306.0
mean       0.422899            3.0
std        0.494037            0.0
min        0.000000            3.0
25%        0.000000            3.0
50%        0.000000            3.0
75%        1.000000            3.0
max        1.000000            3.0

In [28]:
# list the name of columns in df_hs
df_hs.columns

Index(['text', 'labels', 'source', 'dataset', 'nb_annotators'], dtype='object')

instagram data

In [17]:
df_labeled = pd.read_csv('Data/dataset_komentar_instagram_cyberbullying.csv')

In [18]:
df_labeled.head()

   Id Sentiment                             Instagram Comment Text
0   1  negative   <USERNAME> TOLOL!! Gak ada hubungan nya kegug...
1   2  negative  Geblek lo tata...cowo bgt dibela2in balikan......
2   3  negative  Kmrn termewek2 skr lengket lg duhhh kok labil ...
3   4  negative  Intinya kalau kesel dengan ATT nya, gausah ke ...
4   5  negative  hadewwwww permpuan itu lg!!!!sakit jiwa,knp ha...

In [20]:
# print distinct values for column sentiment
print('Distinct values for column sentiment are: {}'.format(df_labeled['Sentiment'].unique()))

Distinct values for column sentiment are: ['negative' 'positive']

In [23]:
# replace the values in column sentiment with 0 for not speech and 1 hate speech
df_labeled['Sentiment'] = df_labeled['Sentiment'].replace(['positive', 'negative'], [0, 1])

In [25]:
# rename column name Instagram Comment Text to text
df_labeled.rename(columns={'Instagram Comment Text': 'text'}, inplace=True)

In [30]:
# display the last or the tail
df_labeled.tail()

      Id  Sentiment                                               text
395  396          0  Bangga sama suami yg selalu ingat istri disela...
396  397          0  Apaoun pekerjaannya yg penting halal u tuk men...
397  398          0  Gojek itu mayoritas pegangguran yang lama gak ...
398  399          0   <USERNAME> aslinya cantik dan ayu loh mbak kr...
399  400          0   <USERNAME> suami saya seumuran sama saya mba,...

In [33]:
last_row_num = df_labeled.shape[0]
last_row_num

400

In [34]:
# add a column id to df_hs, startig from the number 401
df_hs['id'] = range(401, 401 + df_hs.shape[0])

In [35]:
df_hs.tail()

,text,labels,source,dataset,nb_annotators,id
14301,Muka Si BABi Ahok Tuh Yg Mirip SERBET Lantai.....,1,Twitter,IDHSD,3,14702
14302,"Betul bang hancurkan merka bang, musnahkan chi...",1,Twitter,IDHSD,3,14703
14303,"Sapa Yg bilang Ahok anti korupsi!?, klo grombo...",1,Twitter,IDHSD,3,14704
14304,"Gw juga ngimpi SENTILIN BIJI BABI AHOK, pcetar...",1,Twitter,IDHSD,3,14705
14305,Mudah2an gw ketemu sama SI BABI IWAN BOPENG DI...,1,Twitter,IDHSD,3,14706

In [36]:
df_hs.columns

Index(['text', 'labels', 'source', 'dataset', 'nb_annotators', 'id'], dtype='object')

In [37]:
# rename labels to sentiment
df_hs.rename(columns={'labels': 'sentiment'}, inplace=True)

# delete column source, datgaset, nb_annotators
df_hs.drop(columns=['source', 'dataset', 'nb_annotators'], inplace=True)

In [38]:
df_hs.columns

Index(['text', 'sentiment', 'id'], dtype='object')

In [39]:
df_labeled.columns

Index(['Id', 'Sentiment', 'text'], dtype='object')

In [50]:
df_labeled.rename(columns={'Sentiment': 'sentiment'}, inplace=True)
df_labeled.rename(columns={'Id': 'id'}, inplace=True)
df_labeled.rename(columns={'Instagram Comment Text': 'text'}, inplace=True)

In [51]:
df_labeled.head()

   id  sentiment                                               text
0   1          1   <USERNAME> TOLOL!! Gak ada hubungan nya kegug...
1   2          1  Geblek lo tata...cowo bgt dibela2in balikan......
2   3          1  Kmrn termewek2 skr lengket lg duhhh kok labil ...
3   4          1  Intinya kalau kesel dengan ATT nya, gausah ke ...
4   5          1  hadewwwww permpuan itu lg!!!!sakit jiwa,knp ha...

In [52]:
df_hs.head()

                                                text  sentiment   id
0  @USER.wood17 knp lo gak berani bersumpah dan b...          1  401
1  haha, somad somad. Muka dekil otak 0% , kok ya...          1  402
2  hahaha, kaum sableng 212 kl berita begini mrk ...          1  403
3  hahaha, makin stress aja  ni umat sableng, dlu...          1  404
4       HIDUP PSI = partai SAMPAH indonesia..... ...          1  405

In [54]:
# combine df_hs and df_labeled
df_combined = pd.concat([df_hs, df_labeled], axis=0)

In [55]:
df_combined.describe()

          sentiment            id
count  14706.000000  14706.000000
mean       0.424997   7353.500000
std        0.494359   4245.400864
min        0.000000      1.000000
25%        0.000000   3677.250000
50%        0.000000   7353.500000
75%        1.000000  11029.750000
max        1.000000  14706.000000

In [56]:
df_combined.tail()

                                                  text  sentiment   id
395  Bangga sama suami yg selalu ingat istri disela...          0  396
396  Apaoun pekerjaannya yg penting halal u tuk men...          0  397
397  Gojek itu mayoritas pegangguran yang lama gak ...          0  398
398   <USERNAME> aslinya cantik dan ayu loh mbak kr...          0  399
399   <USERNAME> suami saya seumuran sama saya mba,...          0  400

In [57]:
df_combined.sort_index(inplace=True)

In [58]:
df_combined.tail()

                                                    text  sentiment     id
14301  Muka Si BABi Ahok Tuh Yg Mirip SERBET Lantai.....          1  14702
14302  Betul bang hancurkan merka bang, musnahkan chi...          1  14703
14303  Sapa Yg bilang Ahok anti korupsi!?, klo grombo...          1  14704
14304  Gw juga ngimpi SENTILIN BIJI BABI AHOK, pcetar...          1  14705
14305  Mudah2an gw ketemu sama SI BABI IWAN BOPENG DI...          1  14706

In [59]:
# convert df_combined into csv
df_combined.to_csv('Data/combined.csv', index=False)